name: Test

on:
  push:

jobs:
  main:
    name: Test

    runs-on: ubuntu-latest

    steps:
      - name: actions/checkout
        uses: actions/checkout@v6

      - name: Setup pnpm
        uses: pnpm/action-setup@v4

      - name: Setup node with cache
        uses: actions/setup-node@v6
        with:
          node-version-file: .nvmrc
          cache: pnpm

      - name: Install Dependencies
        run: pnpm install

      - name: Build
        run: pnpm build

      - name: Lint Strict
        run: pnpm lint-strict
